<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About My Website</title>
  <link rel="stylesheet" href="css/comments.css">
  <link rel="icon" type="image/x-icon" href="/pic/react-white.png" />
  <!--GSAP Script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src="JS/comments.js" defer></script>
</head>
<body>
  
  <section class="about-content1">
    <div class="about-content1-title">
      <a href="/"><h1>ABOUT MY WEBSITE</h1></a>
    </div>
    <div class="about-content1-nav-subtitle">
      <p>Thanks for visiting!</p>
    </div>
  </section>

  <section class="about-footer">
    <p>Copyright © Tianyi's Blog 2022</p>
  </section>
  
</body>
</html>
