<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About My Website</title>
  <link rel="stylesheet" href="css/comments.css">
  <!--GSAP Script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src="JS/comments.js" defer></script>
</head>
<body>
  
  <section class="about-content1">
    <div class="about-content1-title">
      <a href="/"><h1>ABOUT MY WEBSITE</h1></a>
    </div>
    <div class="about-content1-nav-subtitle">
      <p>Thanks for visiting!</p>
    </div>
  </section>

  <section class="about-content2">
    <div class="about-content2-image">
      
    </div>
    <div class="about-content2-text">
      <p>This is the second portfolio website I created for myself. I added some animation elements on this website by using GreenSock Animation. And also compared with the last website, I added routing features by using the Node.js as well as some backend feactures including posting and retrieving data from MongoDB database by using Express and Mongoose libraries, there is really much more fun than I ever imagined along the way designing and implementing my own website. Really hope you guys enjoy it and please leave some comments and advices down below to help me further improve this website! Thank you guys so much! My next goal is to learn Three.js and start getting in touch with designing 3D elements, at the same time I will keep diving deeper into MongoDB and Node.js. Really hope for a big  improvement on my next website!</p>
    </div>
  </section>

  <section class="about-footer">
    <p>Copyright © Tianyi's Blog 2022</p>
  </section>
  
</body>
</html>