<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home2.css">
  <!--GSAP Script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src="JS/project.js" defer></script>
  <title>Project</title>
</head>
<body>

  <div class="project-content">
    <!-- *************** NAVIGATION ***************-->
    <section class="nav">
      <div class="navbar-project">
        <ul>
          <li><a href="/" id="nav_home">HOME</a></li>
          <li><a href="/aboutme" id="nav_aboutme">ABOUT ME</a></li>
          <li><a href="/project" id="nav_project">PROJECT</a></li>
          <li><a href="/Dashboard" id="nav_skill">COMMENTS</a></li>
        </ul>
      </div>
    </section>

    <!-- *************** CONTENT (TITLE) ***************-->
    <section class="project-title">
      <div class="project-title-content">
        <h1>Front-end Projects</h1>
        <p>Thank you guys for spending time viewing my front-end development projects! Here are the most recent projects I did along my way as milestones. Really hope you guys enjoy it! I'm a huge fan of HTML, CSS, and JavaScript, I love using GreenSock setting up scrollTriggers and timelines at different HTML pages. For me, designing websites means no difference compare with giving life and spirit to a newborn baby! Everything need to be as perfect as possible! I will keep sharpening my skills and learning more advanced features, my next goal is to design a perfect looking website using Three.js!</p>
      </div>
      <div class="project-icons">
        <ul>
          <li><img src="../pic/nodejs-white.png" alt="nodejs-white" id="nodejs-white"></li>
          <li><img src="../pic/css-white.png" alt="css-white" id="css-white"></li>
          <li><img src="../pic/html-white.png" alt="html-white" id="html-white"></li>
          <li><img src="../pic/javascript-white.png" alt="js-white" id="js-white"></li>
          <li><img src="../pic/react-white.png" alt="react-white" id="react-white"></li>
          <li><img src="../pic/gsap-greensock.svg" alt="gsap" id="gsap"></li>
        </ul>
      </div>
    </section>
  </div>
  

  <!-- *************** CONTENT #1 ***************-->
  <section class="project-content1">
    <ul class="project-content1-container">

      <li class="project-content1-box1">
        <div class="project-content1-box1-video">
          <video src="/pic/Login&Signup.mov" id="fv" type="video/mp4" loop muted></video>
        </div>
        <div class="project-content1-box1-text">
          <p>Animation: GSAP, Routes: NodeJS & React-router-dom@6, Library: React, Authentication: Firebase Auth, Language: HTML CSS JavaScript, Testing: JEST</p>
          <a class="project-content1-box1-text-btn" target="_blank" href="https://page-template-design.web.app/">More Info</a>
        </div>
      </li>

      <li class="project-content1-box2">
        <div class="project-content1-box2-video">
          <video src="/pic/fproject2.mov" id="fv" type="video/mp4" loop muted></video>
        </div>
        <div class="project-content1-box2-text">
          <p>Animation: GSAP, Routes: NodeJS & React-router-dom@6, Library: React, Authentication: Firebase Auth, Language: HTML CSS JavaScript TypeScript, Storage: Firebase Firestore & Storage, Testing: JEST
          </p>
          <a class="project-content1-box2-text-btn" target="_blank" href="https://project-management-app-82a69.web.app/Login">More Info</a>
        </div>
      </li>

      <li class="project-content1-box3">
        <div class="project-content1-box3-video">
          <video src="/pic/fproject3.mov" id="fv" type="video/mp4" loop muted></video>
        </div>
        <div class="project-content1-box3-text">
          <p>Animation: GSAP, Routes: NodeJS & Express, Dashboard Database: MongoDB, Language: HTML CSS JavaScript, Testing: JEST</p>
          <a class="project-content1-box3-text-btn" href="/">More Info</a>
        </div>
      </li>
    </ul>
  </section>

  <!-- *************** CONTENT #2 (TITLE) ***************-->
  <section class="project-content2">
    <div class="project-title-content2">
      <h1>Back-end Projects</h1>
      <p>I can confidently interact with database including MongoDB, Firebase Firestore as well as MySQL, I'm good at using Springboot to create different kinds of rest controllers in order to interact with the database. I also love using Firebase Auth to help user authenticate their identity. There are still much more stuff waiting for me to learn! I will keep sharpening my skills along the way!</p>
    </div>
    <div class="project-icons-content2">
      <img src="../pic/react-white.png" alt="react-logo" id="react-content2-white">
      <img src="../pic/nodejs-white.png" alt="node-logo" id="node-content2-white">
      <img src="../pic/mongodb-white.png" alt="mongoDB-logo" id="mongo-content2-white">
      <img src="../pic/firebase2.png" alt="firebase-logo" id="firebase-white">
      <img src="../pic/springboot2.png" alt="springboot-logo" id="springboot-white">
    </div>
  </section>


  <!-- *************** CONTENT #3 ***************-->
  <section class="project-content3">

    <ul class="project-content3-container">

      <li class="project-content3-box1">
        <div class="project-content3-box1-video">
          <video src="/pic/fproject3.mov" id="fv" type="video/mp4" loop muted></video>
        </div>
        <div class="project-content3-box1-text">
          <p>Animation: GSAP, Routes: NodeJS & Express, Dashboard Database: MongoDB, Language: HTML CSS JavaScript, Testing: JEST</p>
          <a class="project-content3-box1-text-btn" href="/">More Info</a>
        </div>
      </li>

      <li class="project-content3-box2">
        <div class="project-content3-box2-video">
          <video src="/pic/fproject2.mov" id="fv" type="video/mp4" loop muted></video>
        </div>
        <div class="project-content3-box2-text">
          <p>Animation: GSAP, Routes: NodeJS & React-router-dom@6, Library: React, Authentication: Firebase Auth, Language: HTML CSS JavaScript TypeScript, Storage: Firebase Firestore & Storage, Testing: JEST</p>
          <a class="project-content3-box2-text-btn" target="_blank" href="https://project-management-app-82a69.web.app/Login">More Info</a>
        </div>
      </li>

      <li class="project-content3-box3">
        <div class="project-content3-box3-video">
          <video src="../pic/bproject1.mov" id="bv" type="video/mp4" loop muted></video>
        </div>
        <div class="project-content3-box3-text">
          <p>Animation: GSAP, Routes: React-router-dom@6, Library: React, Authentication: Firebase auth, Language: HTML CSS JavaScript, Database: Firebase firestore, Testing: JEST</p>
          <a class="project-content3-box3-text-btn" target="_blank" href="https://fince-tracker.firebaseapp.com/login">More Info</a>
        </div>
      </li>
    </ul>

  </section>

  <!-- *************** CONTENT #4 (TITLE) ***************-->
  <section class="project-content4">
    <div class="project-title-content4">
      <h1>Testing Projects</h1>
      <p>I can confidently provide unit-testing, integration-testing & end-to-end testing by using React JEST testing library. As I start building more and more React projects, testing becomes more and more important to me! I really enjoy testing component by component </p>
    </div>
    <div class="project-icons-content4">
      <img src="../pic/jest-white.png" alt="jest-logo" id="jest-content4-white">
      <img src="../pic/mocha-white.png" alt="mocha-logo" id="mocha-content4-white">
    </div>
  </section>


  <!-- *************** CONTENT #5 ***************-->
  <section class="project-content5">

    <ul class="project-content5-container">

      <li class="project-content5-box1">
        <div class="project-content5-box1-video">
          <img src="/pic/Logintesting.png" alt="unit-testing" id="unit-testing">
        </div>
        <div class="project-content5-box1-text">
          <p>This is a simple Login JEST unit testing to test out the layout of the Login page!</p>
          <a class="project-content5-box1-text-btn" href="https://github.com/Tianyi9906" target="_blank">More Info</a>
        </div>
      </li>

      <li class="project-content5-box2">
        <div class="project-content5-box2-video">
          <img src="/pic/LoginIntegration.png" alt="integration-testing" id="integration-testing">
        </div>
        <div class="project-content5-box2-text">
          <p>This is a Login JEST integration testing to test out whenever we click the form Login button, there will be specific data being diaplayed on the screen</p>
          <a class="project-content5-box2-text-btn" target="_blank" href="https://github.com/Tianyi9906">More Info</a>
        </div>
      </li>

      <li class="project-content5-box3">
        <div class="project-content5-box3-video">
          <img src="/pic/AddInput.png" alt="integration-testing" id="integration-testing">
        </div>
        <div class="project-content5-box3-text">
          <p>This is an AddTodo integration testing to test whether there will be specific contents being added to the dashboard when add button has been clicked! </p>
          <a class="project-content5-box3-text-btn" target="_blank" href="https://github.com/Tianyi9906">More Info</a>
        </div>
      </li>
    </ul>

  </section>


  <!-- *************** CONTENT #6 ***************-->
  <section class="project-content6">
    <div class="project-content6-container">
      <image src="../pic/right-arrow.png" alt="arrow-icon" id="arrow-icon"></image>
      <button id="content6-btn"><a href="https://github.com/Tianyi9906" target="_blank">See More Projects</a></button>
    </div>
  </section>
</body>
</html>