*,::before,::after {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0;
}

/************ BLOG DASHBOARD *************/
/************ CONTENT #1 *************/

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content1 {
  width: 100%;
  height: 25vh;
  background-color: transparent;
  position:relative;
  padding: 3.5rem 3.5rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 25%;
}

.content1::after {
  content: '';
  position: absolute;
  width: calc(100% - 8.5rem);
  height: 1px;
  background-color: lightgray;
  bottom: 0;
}

.content1-title {
  width: 100%;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.8rem;;
}

.content1-title h1 {
  position: relative;
  left: -3px;
  top: 0;
}

.content1-title a {
  text-decoration: none;
  color: black;
}

.content1-nav-subtitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

.content1-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content1-subtitle {
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 1rem;
}

.content1-nav button {
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}


/************ CONTENT #2 *************/
.content2 {
  width: calc(100% - 1rem);
  height: 65vh;
  position: relative;
  background-color: transparent;
  padding: 3.5rem;
  overflow: scroll;
}


/************ FOOTER *************/
.footer {
  width: 100%;
  height: 10vh;
  position: relative;
  bottom: 0;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.content2-title {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.content2-snippet {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0rem;
}

.content2-body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.0rem;
  margin-bottom: 1.8rem;
}




/************ WRITE BLOGS *************/
/************ CONTENT #1 *************/

.write-content1 {
  width: 100%;
  height: 25vh;
  background-color: transparent;
  position:relative;
  padding: 3.5rem 3.5rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 25%;
}

.write-content1::after {
  content: '';
  position: absolute;
  width: calc(100% - 8.5rem);
  height: 1px;
  background-color: lightgray;
  bottom: 0;
}

.write-content1-title {
  width: 100%;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.8rem;;
}

.write-content1-nav-subtitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

.write-content1-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.write-content1-nav button {
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

.write-content1-subtitle {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  position: relative;
  bottom: 1rem;
}

.write-content2 {
  width: 100%;
  height: 65vh;
  position: relative;
  background-color: transparent;
  padding: 3.5rem;
  overflow: scroll;
  display: flex;
  align-items: center;
}


.input-form {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.input-form label {
  font-size: 1.3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-form input[type=text] {
  width: 100%;
  position: relative;
  height: 10%;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin-top: -1.6rem;
}

::placeholder {
  font-family: monospace;
  font-size: 0.9rem;
}

.input-form textarea {
  width: 100%;
  position: relative;
  height: 35%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid black;
  margin-top: -1.6rem;
  resize: none;
  overflow: scroll;
}

.input-form button {
  width: 40%;
  padding: 1.25rem 2.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
}

.input-form button:hover {
  background-color: tomato;
  color: white;
  transition: 800ms;
}

.writer-footer {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: transparent;
  bottom: 0;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/************ ABOUT BLOGS *************/
/************ CONTENT #1 *************/
.about-content1 {
  width: 100%;
  height: 35vh;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.about-content1-title {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.8rem;;
}

.about-content1-title a {
  text-decoration: none;
  color: black;
}

.about-content1-nav-subtitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8rem;
}

.about-content2 {
  width: 100%;
  height: 55vh;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding:2rem 5rem 0 5rem;
  gap: 5rem;
}

.about-content2-image {
  width: 45%;
  height: 100%;
  position: relative;
  background-image: url('../pic/grandfather.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-content2-text {
  width: 55%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  text-align: center;
}

#profile-image {
  width: 28rem;
  height: 100%;
}

.about-content2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  bottom: 0;
}

.about-footer {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: transparent;
  bottom: 0;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width:1372px) {

  /******** DASHBOARD ********/
  .content1 {
    padding: 3.5rem 3.5rem 1.1rem 3.5rem;
  }

  .content1-nav-subtitle {
    flex-direction: column;
  }

  .content1-nav {
    margin-left: -1.5rem;
  }
}

@media (max-width:1165px) {

  /******** WRITE ********/
  .write-content1 {
    gap: 25%;
    padding: 2.5rem 3.5rem 0 3.5rem;
  }

  .write-content1-title h1 {
    position: relative;
    left: -3px;
  }

  .write-content1-nav-subtitle {
    flex-direction: column;
    justify-content: center;
  }

  .write-content1-subtitle{
    align-items: center;
    justify-content: left;
    bottom: 1rem;
  }

  .write-content1-nav {
    margin-left: -1.5rem;
  }

}

@media (max-width: 959px) {
  
  /******** ABOUT ********/
  .about-content2-text {
    font-size: 0.9rem;
  }
}

@media (max-width:826px) {

  /******** DASHBOARD ********/
  .content1-title {
    font-size: 2.2rem;
  }

  /******** WRITE ********/
  .write-content1-title {
    font-size: 2.2rem;
  }

  .input-form {
    gap: 1.6rem;
    width: 60%;
  }

  #title,
  #snippet,
  #body {
    font-size: 1rem;
  }

  /******** ABOUT ********/
  .about-content1-title {
    font-size: 2rem;
  }

  .about-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: visible;
  }

  .about-content2-image {
    display: none;
  }

  .about-content2-text {
    width: 60%;
    font-size: 1rem;
    margin-bottom: 7rem;
  }
}

@media (max-width:630px) {

  /******** DASHBOARD ********/

  .content1 {
    padding: 0;
    align-items: center;
    gap: 10%;
  }
  
  .content1::after {
    position: absolute;
    width: 100%;
  }

  .content1-subtitle {
    display: none;
  }

  .content1-title {
    display: flex;
    justify-content: center;
  }

  .content1-nav-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content1-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    gap: 0.8rem;
  }

  .content1-nav button {
    padding: 0;
  }
}

@media (max-width:596px) {

  /******** WRITE ********/
  .write-content1 {
    padding: 0;
    gap: 10%;
  }

  .write-content1::after {
    width: 100%;
  }

  .write-content1-title {
    text-align: center;
  }

  .write-content1-subtitle {
    display: none;
  }

  .write-content1-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-left: 0.2rem;
  }

  .write-content1-nav button {
    padding: 0;
  }

  #write-sumbit-btn {
    width: 60%;
  }

  /******** ABOUT ********/
  .about-content1-title {
    font-size: 1.5rem;
  }

  .about-content1-nav-subtitle {
    font-size: 1.4rem;
  }

  .about-content2-text {
    font-size: 0.8rem;
  }
}

@media (max-width:450px) {

  /******** DASHBOARD ********/
  .content1-title {
    font-size: 1.6rem;
  }

  .footer {
    font-size: 1rem;
  }

  /******** WRITE ********/
  .write-content1-title {
    font-size: 1.6rem;
  }

  .writer-footer {
    font-size: 1rem;
  }

  /******** ABOUT ********/
  .about-content1-title {
    font-size: 1.2rem;
  }

  .about-content1-nav-subtitle {
    font-size: 1.1rem;
  }

  .about-content2-text {
    font-size: 0.8rem;
  }

  .about-footer {
    font-size: 1rem;
  }
}





